 
h1{
    color: brown;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: darkgreen;
    padding: 50px;
    border: 2px solid blue;
}
#spanId{
    font-size: 38px;
    margin: 50px;
}